<<form>
  <div class="form-row">
    <div class="form-group col-md-3">
      <% provide(:title, 'All users') %>
      <h1 align="center">Thông tin tất cả tài khoản</h1>
      <ul class="users">
        <% @users.each do |user| %>
          <li>
            <%= image_tag user.image_url.to_s, {:style=>"width:100px;height:100px"} %>
            <span style="font-size: 20px"><%= user.name %></span>
            <p class="text-center" style="font-size:16px; color: green;">
              <% if current_user.admin? && !current_user?(user) %>
                  <%= link_to "Show", user %> |
                  <%= link_to "Edit", edit_user_path(user) %> |
                  <%= link_to "Delete", user, method: :delete, data: { confirm: "You sure?" } %>
              <% end %>
            </p>
          </li>
        <% end %>
      </ul>
      
    </div>
    <!-- ----------------------------------- -->
    <div class="form-group col-md-3">
      <% provide(:title, 'All users') %>
      <h1 align="center">Báo cáo của người dùng</h1>
      <ul class="users">
        <% @reports.each do |report| %>
          <li>
            <p style="font-size: 20px">
              <%= report.user.name %> 
            </p>
            <p style="font-size: 15px">
              <%= report.title %> 
            </p>
            <p class="text-right"><%= link_to "Show", report%></p>
          </li>
        <% end %>
      </ul>
    </div>
    <!-- ----------------------------------- -->
    <div class="form-group col-md-3">
      <% provide(:title, 'All users') %>
      <h1 align="center">Chi tiết khóa học</h1>
      <ul class="users">
        <% @users.each do |user| %>
          <li>
          </li>
        <% end %>
      </ul>

    </div>
    <!-- ----------------------------------- -->
    <div class="form-group col-md-3">
      <% provide(:title, 'All users') %>
      <h1 align="center">Quản lý</h1>
      <ul class="users">
          <li>
            <p class="text-center" style="font-size:16px;">
                  <%= link_to "Thêm tài khoản người dùng", sign_up_path, { :class=>"nav-link" } %>
                  <%= link_to "khóa học", cours_path, { :class=>"nav-link" } %>
                  <%= link_to "chương", chapters_path, { :class=>"nav-link" } %>
                  <%= link_to "Đăng ký khóa học", new_detail_course_path, { :class=>"nav-link" } %>
            </p>
          </li>
      </ul>
    </div>

  </div>
</form>
<%= will_paginate @users %>