

<%= form_for(@user, local: true) do |f| %>
  <%= render 'error_messages' %>
  <form>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputEmail4">Email</label>
        <%= f.text_field :email, class: 'form-control' %>
      </div>

      <div class="form-group col-md-4">
        <label for="inputName">Name</label>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
        <label for="inputImage">Image</label>
        <%= f.file_field :image %>
      </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputPassword4">Password</label>
        <%= f.password_field :password, class: 'form-control' %></br>
      </div>

      <div class="form-group col-md-6">
        <label for="inputPassword4">Password Confirmation</label>
        <%= f.password_field :password_confirmation, class: 'form-control' %></br>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputCity">Adress</label>
        <%= f.text_field :address, class: 'form-control' %>
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">Phone</label>
        <%= f.text_field :phone, class: 'form-control' %>
      </div>
      <div class="form-group col-md-4">
        <label for="inputZip">Date</label>
        <%= f.text_field :date, class: 'form-control' %>
      </div>
    </div>
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  </form>

<% end %>
