
<style>
  p {
    font-size: 20px;
  }
</style>

<div class="form-group col-md-8 col-md-offset-2 ">  
  <div class="card">
    <ul class="list-group list-group-flush">
      <div class="card-header" style="font-size: 20px">
         <h3>
          <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yZ/r/dp8LigpKyOw.png" alt="">
          Thông tin tài khoản
         </h3>
      </div>

      <li class="list-group-item">
        <div class="col-md-4" style="padding: 8px; border-right: 1px solid darkgray">
          <p>
            <%= image_tag @user.image_url.to_s, {:style=>"width:100%;height:250px"} %>
          </p>
        </div>
        <div class="col-md-8" style="padding: 30px 24px 0;">
          <br>
          <br>
          <p> 
            <%= @user.name %>
          </p>

          <p>
            <strong>Email:</strong>
            <%= @user.email %>
          </p>

          <p>
            <strong>Address:</strong>
            <%= @user.address %>
          </p>

          <p>
            <strong>Phone:</strong>
            <%= @user.phone %>
          </p>

          <p>
            <strong>Date:</strong>
            <%= @user.date %>
          </p>
          <% if current_user.admin %>
            
          <% else %>
            <p>
              <strong>Các khóa học đã đăng ký:</strong>
              <% @detail_courses.each do |detail| %>
                <% if current_user.name == detail.user.name %>
                  <%= detail.cour.name %>
                <% end %>
              <% end %>
            </p>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
  <br>
  <%= link_to 'Chỉnh sửa', edit_user_path(@user) %> |
  <% if current_user.admin %>
    <%= link_to 'Quay lại trang admin', admin_path %>
  <% else %>
    <%= link_to 'Quay lại trang chủ', root_url %>
  <% end %>
</div>  
