
<h1 align="center">PHẢN HỒI NGƯỜI DÙNG</h1>
<hr>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Tên người gửi</th>
      <th>Email</th>
      <th>Chủ đề</th>
      <th>Tin nhắn</th>
      <th class="text-center">Edit</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @suports.each do |suport| %>
      <tr>
        <td><%= suport.id %></td>
        <td><%= suport.name %></td>
        <td><%= suport.emai %></td>
        <td><%= suport.subject%> </td>
        <td><%= suport.message %> </td>
        <td class="text-center">
          <%= link_to 'Show', suport %> |
          <%= link_to 'Destroy', suport, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Quay lại trang admin', admin_path %>

