
<p>
  <strong>Name:</strong>
  <%= @suport.name %>
</p>

<p>
  <strong>Emai:</strong>
  <%= @suport.emai %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @suport.subject %>
</p>

<p>
  <strong>Message:</strong>
  <%= @suport.message %>
</p>

<%= link_to 'Back', root_path %>
