<p id="notice"><%= notice %></p>

<h1 align="center">Danh sách chương</h1>
<%= link_to 'Thêm khóa học mới', new_chapter_path %>
<hr>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Tên chương</th>
      <th>Nội dung</th>
      <th>Khóa học</th>
      <th class="text-center">Edit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chapters.each do |chapter| %>
      <tr>
        <td><%= chapter.id %></td>
        <td><%= chapter.name %></td>
        <td><%= raw(chapter.content) %></td>
        <td><%= chapter.cour.name if chapter.cour %></td>
        <td class="text-center">
          <%= link_to 'Show', chapter %> |
          <%= link_to 'Edit', edit_chapter_path(chapter) %> |
          <%= link_to 'Destroy', chapter, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<<<<<<< HEAD
<%= link_to 'Thêm khóa học mới', new_chapter_path %>
=======
<%= link_to 'New Chapter', new_chapter_path %>
>>>>>>> d142df2... Them Cours, Chapter, chinh sua layout
