<div class="container">
	<form>
		<div class="form-row">
			<div class="form-group col-md-3">
				<div class="card">
				  <ul class="list-group list-group-flush">
				  	<div class="card-header text-center" style="font-size: 20px">
					    <%= @chapter.cour.name %>
					</div>
					<div class="card-header text-center" style="font-size: 16px">
					    <%= @chapter.name %>
					</div>
				    <li class="list-group-item">
				    	<% @chapters.each do |chapter| %>
						  	<% if chapter.cour.name == @chapter.cour.name %>
							  <%= link_to chapter.name, chapter, {:class=>"nav-link"}%>
							 <% end %>
						  <% end %>
				    </li>
				  </ul>
				</div>
			</div>

			<div class="form-group col-md-9">
				<div class="card">
				  <ul class="list-group list-group-flush">
				    <li class="list-group-item">
				    	<p class="text-center" style="font-size: 30px">
						  <%= @chapter.name %>
						</p>
						<hr>
						<p>
						  <%= raw(@chapter.content) %>
						</p>					
				    </li>
				  </ul>
				</div>
			</div>	
		</div>
	</form>
</div>

<% if current_user.admin %>
  <%= link_to 'Danh sách chương', chapters_path %>
<% end %>


