<div class="container">
	<form>
		<div class="form-row">
			<div class="form-group col-md-8">
				
				<p>
				  <strong>User Name:</strong>
				  <%= @report.user.name %>
				</p>

				<p>
				  <strong>User Email:</strong>
				  <%= @report.user.email %>
				</p>

				<p>
				  <strong>Name:</strong>
				  <%= @report.title %>
				</p>

				<p>
				  <strong>Content:</strong>
				  <%= raw(@report.content) %>
				</p>
				
			</div>
		</div>
	</form>
</div>

<% if current_user.admin %>
  <%= link_to 'Quay lại trang admin', admin_path %>
<% else %>
  <%= link_to 'Quay lại', reports_path %>
<% end %>