
<div class="form-group col-md-8 col-md-offset-2 ">	
	<div class="card">
		<ul class="list-group list-group-flush">
		  <div class="card-header" style="font-size: 20px">
		     Name: <%= @report.user.name %> | Email: <%= @report.user.email %>
		  </div>

		  <div class="card-header" style="font-size: 20px">
		     Nôi dụng: <%= @report.title %>
		  </div>
		  <li class="list-group-item">
		    <%= raw(@report.content) %>
		  </li>
		</ul>
	</div>
	<br>
	<% if current_user.admin %>
	  <%= link_to 'Quay lại trang admin', admin_path %>
	<% else %>
	  <%= link_to 'Quay lại', reports_path %>
	<% end %>
</div>	

